@import url(./variables.css);

/* Loader */
.loader {
  height: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: var(--dark);
  visibility: hidden;
  overflow: hidden;
}
.loader .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
}
.loader .logo img {
  width: 60%;
  transform: scale(0.5);
  margin-bottom: 25px;
  opacity: 0;
  visibility: hidden;
}
.loader h4 {
  font-size: 2.77vw;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--light);
  font-family: var(--sans-serif-alt);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all ease;
}

/* Navbar */
.navbar {
  width: 100%;
  background: transparent;
  padding: 15px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.navbar .navbar-bd {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar .logo img {
  width: 2.95rem;
}
.navbar .logo span {
  font-size: 1.05vw;
  font-family: var(--sans-serif-alt);
  font-weight: 600;
  color: var(--light);
  text-transform: uppercase;
}
.navbar .navs {
  display: flex;
  align-items: center;
  gap: 2vw;
}
.navbar .navs ul {
  display: flex;
  align-items: center;
  gap: 1.2vw;
}
.navbar .navs ul li a {
  color: var(--light-alt);
  font-size: 1vw;
  font-weight: 400;
}

.navbar .navs ul li a .text-in {
  display: block;
  height: 2.4vh;
  overflow: hidden;
}

.navbar .navs ul li a .text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  transform: translateY(0);
  transition: 0.5s all ease;
}
.navbar .navs ul li a:hover {
  color: var(--light);
}

.navbar .navs ul li a:hover .text {
  transform: translateY(-60%);
}

/* Hero */
.hero {
  position: relative;
  height: 110vh;
  overflow: hidden;
}
.hero .overlay {
  /* content: ""; */
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30%;
  width: 100%;
  z-index: 5;
  background: linear-gradient(0deg, #0f0f0f, #0f0f0fb7, #0f0f0f00);
}
.hero .image {
  position: relative;
}
.hero .images img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.hero .images .img-one img {
  z-index: 4;
}
.hero .images .img-two img {
  z-index: 2;
}
.hero .images .img-three img {
  z-index: 3;
}
.hero .images .img-four img {
  z-index: 1;
}
.hero .marque {
  display: flex;
  align-items: center;
  gap: 2vw;
  position: absolute;
  top: 38%;
  left: 0;
  width: 100%;
  /* overflow: hidden; */
  transform: translateX(-100%);
  z-index: 3;
  white-space: nowrap;
}
.hero .marque h2 {
  font-size: 7.77vw;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--light);
}
.hero .hero-below-text {
  position: absolute;
  bottom: 14%;
  left: 3%;
  width: 43%;
  z-index: 7;
}
.hero .hero-below-text h4 {
  font-size: 2.5vw;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--light);
  font-family: var(--serif);
  line-height: 1.2;
}

/* Below Hero Texts  */
.below-hero-text {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.below-hero-text .texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.below-hero-text .texts h2 {
  color: var(--light);
  font-family: var(--serif);
  font-weight: 400;
  font-size: 2.77vw;
  margin-bottom: 12px;
}
.below-hero-text .texts h2 {
  color: var(--light);
  font-family: var(--serif);
  font-weight: 400;
  font-size: 2.77vw;
  margin-bottom: 12px;
  opacity: 1;
  transform: translateX(0);
}
.below-hero-text .texts h2:nth-child(2) {
  margin-left: 8rem;
}
.below-hero-text .texts h2:nth-child(3) {
  margin-left: 12rem;
}

/* Hotel Times Event */
.hotel-times-event {
  height: 100vh;
}

/* Media Queries */
@media (max-width: 992px) {
  .navbar .logo span {
    font-size: 1.05rem;
  }
  .navbar .navs ul li {
    color: var(--light-alt);
  }
  .navbar .navs {
    gap: 1.4rem;
  }
  .navbar .navs ul {
    gap: 1rem;
  }
  .below-hero-text .texts h2 {
    font-size: 2.77rem;
  }
}
